{% extends 'base.html' %}
{% load thumbnail %}
{% load solo_tags %}
{% get_solo 'pages.Settings' as site_config %}

{% block nav %}
				<li><a href="/">Главная</a></li>
                <li><a href="/works/" class="current" >Портфолио</a></li>
                <li><a href="about.html">Услуги</a></li>
                <li><a href="about.html">О нас</a></li>
                <li><a href="/contact/">Заказ сьемки</a></li>
                {% endblock %}

{% block content %}
<div class="row">
	<div class="small-12 medium-7 large-7 columns">
		<h2>{{ object.title }}</h2>
		<p>
			{{ object.content }}
		</p>
	</div>
	<div class="small-12 medium-5 large-5 columns">
		<div class="lined-list">
			<ul>
				<li><strong>Клиенты:</strong>{{ object.client }}</li>
				<li><strong>Выполнено:</strong>Weeding Photo Kiev</li>
				<li><strong>Год:</strong> 2014</li>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="small-12 medium-12 large-12 columns">
		<hr class="project-detail-hr" />
        {% if photos %}

		<!-- Begin project image -->
        <div id ="scrolling">
       {% for photo in photos %}
		<div class="project-img">
        {% if  not site_config.autoload_photos  %}
            {% if  site_config.fancybox  %}
			<a class="fancybox" rel="group" href="{{ photo.image.url }}" alt="Project 01a">
            {% endif %}
       {% endif %}

                {% thumbnail photo.image "800x600" as im %}

                <img src="{{ im.url }}" alt="" width="{{ im.width }}" height="{{ im.height }}"/>

                {% endthumbnail %}

            </a>
		</div>

        {% endfor %}

        </div>

		<!-- End project image -->


            {% else %}
           <h3>Unknown Album</h3>

        {% endif %}
		
	</div>

</div>

<div class="row">
	<div class="small-12 medium-12 large-12 columns">
		<p class="back-to-top-holder"><a class="back-to-top"><i class="fa fa-chevron-circle-up fa-3x" id='spinner'></i></a></p>
	</div>
</div>




    <script type="text/javascript">

        $(document).ready(function() {
	$(".fancybox").fancybox({
		prevEffect	: 'none',
		nextEffect	: 'none',
		helpers	: {
			title	: {
				type: 'outside'
			},
			thumbs	: {
				width	: 50,
				height	: 50
			}
		}
	});
});
</script>


    <script type="text/javascript">
    function json_loads(load_count, photo_count) {
        $.getJSON('/json_album_detail/', {
            'album_id': {{ object.id }},
            'count': photo_count, // min 3!!
            'load_count': load_count
            }, function(data) {
            console.log(data)




            for(item in data) {
                last_item = item
            }

            console.log(last_item);
            for(i=1, count=2; i<=last_item; i++, count++) {
                if(last_item == photo_count) {
                    break
                }

                document.getElementById("spinner").className = "fa fa-spinner fa fa-circle-o-notch fa-spin fa-2x";

                newdiv = document.createElement("div");
                mydiv = document.getElementById('scrolling')
                newdiv.className='project-img';
                newhref = document.createElement("a")
                newfancy = document.createElement("a")
                newfancy.setAttribute('class', 'fancybox')
                newfancy.setAttribute('href', data[i].url)
                newfancy.setAttribute('rel', 'group')
                newimg = document.createElement("img")
                newimg.setAttribute('src', data[i].url)
                newhref.setAttribute('href', data[i].url)
                newdiv.appendChild(newfancy)
                newdiv.appendChild(newhref)
                newdiv.appendChild(newimg)
                mydiv.appendChild(newdiv)


            }

            document.getElementById("spinner").className = "fa fa-chevron-circle-up fa-3x";


        });


    }
  </script>

    {% if  site_config.autoload_photos  %}
    <script>
    var scroll_count = 0
    var load_count = 3
    var photo_count = 4
    $(window).on("scroll", function() {
	var scrollHeight = $(document).height();
    console.log('scrollHeight: ' + scrollHeight)
	var scrollPosition = $(window).height() + $(window).scrollTop();
    console.log('scrollPosition: ' + scrollPosition)
    console.log('To event = ' + (scrollHeight - scrollPosition) / scrollHeight)
	if ((scrollHeight - scrollPosition) / scrollHeight < 0.01) {
        json_loads(load_count, photo_count)
        scroll_count = scroll_count+1
        console.log(scroll_count)
        photo_count = photo_count+1
        load_count = load_count+1
	}


    });

    </script>
    {% endif %}
{% endblock %}