{% extends 'base.html' %}

{% block nav %}
				<li><a href="/">Главная</a></li>
                <li><a href="/works/">Портфолио</a></li>
                <li><a href="flatpage.html">Услуги</a></li>
                <li><a href="flatpage.html">О нас</a></li>
                <li><a href="/contact/" class="current" >Заказ сьемки</a></li>
                {% endblock %}

{% block content %}

    <style type="text/css">

		.tooltip{
   			display: inline;
    		position: relative;
		}

		.tooltip:hover:after{
    		background: #333;
    		background: rgba(0,0,0,.8);
    		border-radius: 5px;
    		bottom: 26px;
    		color: #fff;
    		content: attr(title);
    		left: 20%;
    		padding: 5px 15px;
    		position: absolute;
    		z-index: 98;
    		width: 220px;
		}

		.tooltip:hover:before{
    		border: solid;
    		border-color: #333 transparent;
    		border-width: 6px 6px 0 6px;
    		bottom: 20px;
    		content: "";
    		left: 50%;
    		position: absolute;
    		z-index: 99;
		}

	</style>

<div class="row">
	<div class="small-12 medium-7 large-7 columns">
		<h2>Заказать съемку</h2>
		<form action="/contact/" method="post" id='contact'>{% csrf_token %}
        {{ form.as_p }}

        <script type="text/javascript">
window.onload = function()
{
     var price = document.getElementById("price")
     price.innerHTML = "Стоимость сьемки: " + 1400 + "грн";



     function prices()
     {
         var form_price = document.getElementById("id_length").value
         if(form_price == 1) {
             if (document.getElementById("id_two_photographs").checked == true) {
                price.innerHTML = "Стоимость сьемки: " + 1600 + "грн"

                 }
             else {
                 price.innerHTML = "Стоимость сьемки: " + 1400 + "грн"

             }
             var get_gift = document.getElementById("gift")
             get_gift.innerHTML = ""
         }


          if(form_price == 2) {
            if (document.getElementById("id_two_photographs").checked == true) {
                price.innerHTML = "Стоимость сьемки: " + 3200 + "грн"

                 }
             else {
                 price.innerHTML = "Стоимость сьемки: " + 2800 + "грн"

             }
             var get_gift = document.getElementById("gift")
             get_gift.innerHTML = "Love Story в подарок!"
         }

         if(form_price == 3) {

             if (document.getElementById("id_two_photographs").checked == true) {
                price.innerHTML = "Стоимость сьемки: " + 4800 + "грн"

                 }
             else {
                 price.innerHTML = "Стоимость сьемки: " + 4200 + "грн"

             }

             var get_gift = document.getElementById("gift")
             get_gift.innerHTML = "Love Story + фотокнига в подарок!"

          }
     };
        document.getElementById("id_length").addEventListener("change", prices);
        document.getElementById("id_two_photographs").addEventListener("change", prices);


};
</script>

        <p><span id='price'></span></p>
        <p><span id='gift'></span></p>



        <input type="submit" value="Submit" />
        </form>

        <p>*При заказе съемке от 5часов – love-story  в подарок.</p>

        *При заказе съемке полного дня, от 10часов работы и более –

        <a href="#"
           title="Фотокнига размером 30х30см в твердом переплете на 25ст."
           class="tooltip"><span title ="фотокнига"><i>фотокнига</i></span></a>

        и

        <a href="#"
           title="Фотосессия будущих мужа и жены в романтичном образе.
           Эти фото будут готовы до свадьбы, чтобы вы могли показать их в виде слайд-шоу на свадьбе."
           class="tooltip">

        <span title ="love story"><i>love-story в подарок.</i></span></a>


	</div>
	<div class="small-12 medium-5 large-5 columns">
		<p>
			<img src="http://cs423617.vk.me/u6325016/docs/964d8854cfce/Untitled-3.jpg" alt="Tyan">
		</p>

        Получить дополнительную информацию, вы можете по телефонам

		<p><div class="lined-list">
			<ul>

				<li><strong>Город:</strong> Киев, Украина</li>
				<li><strong>Ирина:</strong> <i class="fa fa-phone"> </i><a href="#">0935579182</a></li>
				<li><strong>Анастасия:</strong> <i class="fa fa-phone"> </i> <a href="#">0935921734</a></li>
			</ul>
		</div></p>
	</div>
</div>

{% endblock %}